*.pyc
*/*.pyc
*.py~
*/*.py~

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.idea/
.idea/*

# Output
*.png
*/*.png
*plots
*/plots/*
*csg-data
*/csg-data/*
*.h5
*/*.h5
*.hdf5
*/*.hdf5

*~
*/*~
